DATABASE_URL="file:./dev.db"
APP_TIMEZONE="Europe/Paris"
APP_DEFAULT_LOCALE="fr"

RIOT_API_KEY=""
RIOT_API_BASE_URL=""
RIOT_LOCALE_CHAIN="fr-FR,fr-fr,fr,en-US,en"
ENABLE_RIOT_SYNC="false"

JUSTTCG_API_KEY=""
PRICE_PROVIDER_ORDER="manual,tcgcsv,justtcg,cardmarket"
TCGCSV_CATEGORY_ID_RIFTBOUND="89"
ENABLE_PRICE_SYNC="false"

CARDMARKET_APP_TOKEN=""
CARDMARKET_APP_SECRET=""
CARDMARKET_ACCESS_TOKEN=""
CARDMARKET_ACCESS_TOKEN_SECRET=""
